eureka-credentials:
  username: admin
  password: admin
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka-credentials.username}:${eureka-credentials.password}@localhost:8761/eureka/

spring:
  jpa:    
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/smartisdb
    username: postgres
    password: postgres   

management:
  endpoints:
    web:
      exposure:
        include:
        - '*'                    
